.meta-info{
    font-size: 16px;
    padding: 10px 0px 0px;
}
.biography{
    font-size: 18px;
}
.news{
    padding: -10px 0px 0px;
}
.paper-title{
    font-weight: bold;
    font-size: 15px;
}
.publication{
    margin-bottom: 5px;
}
.course{
    font-size: 18px;
}
.student{
    font-size: 18px;
}
p {
    font-size: 15px
}
li {
    font-size: 16px
}